= form_for @product do |p|
	- if @product.errors.any?
		%div{ :class => 'error_message' } #{ @product.errors.count } errors occured
	%div
		%span= p.label :name
		%span= p.text_field :name
		%br/
		%span= p.label :price
		%span= p.text_field :price
		%br/
		%span= p.label :description
		%span= p.text_area :description

	= p.submit