= form_for @product do |p|
	%span= p.label :name
	%span= p.text_field :name
	%br/
	%span= p.label :price
	%span= p.text_field :price
	%br/
	%span= p.label :description
	%span= p.text_area :description

	= p.submit